*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;	
}
header{
	background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url(../1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: auto;
	flex-direction: column;
}
ul{
	float: right;
	lsit-style-type:  none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #000;
	padding:  5px 20px;
	border: 2px solid transparent;
	transition: 0.3s ease;
}
ul li a:hover{
	background-color: #fff;
	color:  #000;
}
ul li.active a{
	background-color: #fff;
	color:  #000;
}
.logo img{
	float: left;
	width:  150px;
	height:  auto;
}
/*.main{
	max-width: 1200px;
	margin: auto;
}*/
.title{
	position: absolute;
	top:  10%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color:  #0;
	font-size: 30px;
}
.button{
	position: absolute;
	top:  60%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: auto;
	flex-direction: auto;
}
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color:  #fff;
	text-decoration: none;
	transition: 0.3s ease;
}
.btn:hover{
	background-color: #fff;
	color:  #000;
}
.boxContainer{
	margin: auto;
	margin-top: 5%;
	position: relative;
	width: 400px;
	height:50px;
	border: 1px solid #000;
	padding: 8px 10px;
	border-radius: 50px;
}
.elementsContainer{
	margin-top: 1%;
	width: 100%;
	height: 72%;
	vertical-align: middle;
	opacity: 70%;
}
.Search
{
	border: none;
	height: 100%;
	width: 100%;
	padding: 8px 5px;
	border-radius: 40px;
	font-size: "18px";
	font-family: sans-serif;
	font-display: block;
	color: #000;
	font-weight: 500;
}
.Search:focus
{
	outline: none;
}
.material-icons
{
	font-size: 26;
	color: #000;
}
